.spine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1; /* Ensure spine is above spokes */
  overflow: visible; /* Allow spine to extend beyond container */
}

.spine-line {
  height: 5px;
  background-color: #000;
  border-radius: 2px;
  width: 100%; /* Always fill the container */
} 